<h3>Play your favorites:</h3>

<header>
  <h1><a href="https://audiomotion.dev" class="logo">audioMotion-analyzer</a> | minimal demo</h1>
  <ul class="header-nav">
    <li><a href="index.html">Demos</a></li>
          <li><a href="https://audiomotion.dev">Home</a></li>
    <li><a href="https://github.com/hvianna/audioMotion-analyzer/tree/master/demo/src/fluid.js">View on GitHub</a></li>
  </ul>
</header>

<div id="container"></div>
<audio id="audio" src="" controls crossorigin="anonymous"></audio>

<div class="box center">
  <button id="btn_fullscreen">Fullscreen</button>
</div>

<!-- https://p.scdn.co/mp3-preview/d3505ccf3a7a775c6ce34d0b241ed40969bfef2d?cid=5f38a0d37ed8401f9d88b8c004dfa457 -->
<!-- https://p.scdn.co/mp3-preview/ca1da8c34dfdb41415bc843324af783bf1c343dd?cid=5f38a0d37ed8401f9d88b8c004dfa457 -->


<!-- need genre add input box here -->

<div class="credits">
  <strong>audioMotion-analyzer v<span id="version"></span></strong> Copyright &copy; 2018-2020 Henrique Avila Vianna.	Source code available on <a href="https://github.com/hvianna/audioMotion-analyzer">GitHub</a>.
  Live stream: <a href="https://federalfm.ufpel.edu.br">Rádio Federal FM</a>.
</div>

<script type="module">
  import AudioMotionAnalyzer from 'https://cdn.skypack.dev/audiomotion-analyzer?min';


  try {
    var audioMotion = new AudioMotionAnalyzer(
      document.getElementById('container'),
      {
        source: document.getElementById('audio'),
        // set your preferred options here
      }
    );
  }

  catch( err ) {
    document.getElementById('container').innerHTML = `<p>audioMotion-analyzer failed with error: <em>${err}</em></p>`;
  }

  if ( audioMotion ) {
    // Resume audio context if in suspended state (browsers' autoplay policy)
    window.addEventListener( 'click', () => {
      if ( audioMotion.audioCtx.state == 'suspended' )
        audioMotion.audioCtx.resume();
    });

    // Display package version in the footer
    document.getElementById('version').innerText = audioMotion.version;

    // Handle fullscreen button
    document.getElementById('btn_fullscreen').addEventListener( 'click', () => audioMotion.toggleFullscreen() );
  }
</script>

<script>
  if ( location.href.startsWith('file://') )
    alert("This demo won't work when loaded via file:// protocol.\nSee the README file inside the demo folder for more information.");
</script>
