<form method="GET" action="/search/:track"> <!--Why is this a GET and not a POST route? Does not work as -->
  <input type="text" name="track" placeholder="search titles" />
  <input type="submit" />
</form>
